---
interface Props {
    logo: string;
	name: string;
    archived: boolean;
    description: string;
    gitUrl: string;
    liveUrl: string;
}

const { logo, name, archived, description, gitUrl, liveUrl } = Astro.props;
---

<div class="p-4 bg-secondary-background rounded-md min-h-52 relative border border-primary-background hover:border-white hover:scale-105 duration-300 ease-out">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row space-x-4 items-center">
            <div set:html={logo}></div>
            <h1 class="text-white font-medium text-2xl">{name}</h1>
        </div>
        <span class={`rounded-sm bg-yellow-600/50 border border-yellow-600 text-yellow-500 px-1 ${!archived ? 'hidden' : ''}`}>
            Archived
        </span>
    </div>
    <div class="mt-2 text-white/80">
        <p>{description}</p>
    </div>
    <div class="absolute bottom-5 w-full flex flex-row">
        <a href=`${gitUrl}` class={`flex flex-row items-center space-x-2 justify-center bg-white/15 rounded-md px-3 py-2 text-white ${gitUrl.length == 0 ? 'hiddenl' : ''}`}>
            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><path fill="currentColor" d="M12 .297c-6.63 0-12 5.373-12 12c0 5.303 3.438 9.8 8.205 11.385c.6.113.82-.258.82-.577c0-.285-.01-1.04-.015-2.04c-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729c1.205.084 1.838 1.236 1.838 1.236c1.07 1.835 2.809 1.305 3.495.998c.108-.776.417-1.305.76-1.605c-2.665-.3-5.466-1.332-5.466-5.93c0-1.31.465-2.38 1.235-3.22c-.135-.303-.54-1.523.105-3.176c0 0 1.005-.322 3.3 1.23c.96-.267 1.98-.399 3-.405c1.02.006 2.04.138 3 .405c2.28-1.552 3.285-1.23 3.285-1.23c.645 1.653.24 2.873.12 3.176c.765.84 1.23 1.91 1.23 3.22c0 4.61-2.805 5.625-5.475 5.92c.42.36.81 1.096.81 2.22c0 1.606-.015 2.896-.015 3.286c0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
            <span>Github</span>
        </a>
    </div>
</div>